# Node modules
/backend/node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log
yarn-error.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp

# Ignore local workspace or editor settings (VSCode, JetBrains, Sublime, etc.)
.vscode/